<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>3BLGR</title>
</head>

<body>
    <header class="header row z-depth-1">
        <div class="offer-boletin center-align v-align-center">
            <span class="boletin">
                ¡OBTÉN UN 15% OFF! ¡SUSCRÍBETE A NUESTRO BOLETÍN AHORA!
            </span>
        </div>

        <div class="row navbar nav-wrapper">
            <div class="brand-logo col s6 m6 l3">
                <img class="responsive-img" src="/src/Acrobat_nwG13FqVJ9.png" height="63.5" width="105" alt="" />
            </div>
            <div class="nav hide-on-med-and-down center col m6 l6">
                <ul id="nav-mobile" class="row ">
                    <li class="col s3">
                        <a href="collections">Collecctions</a>
                    </li>
                    <li class="col s3">
                        <a href="/views/catalogue.html">Catalog</a>
                    </li>
                    <li class="col s3">
                        <a href="#presentation-2">About Us</a>
                    </li>
                    <li class="col s3">
                        <a href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="actions col s6 m6 l3">
                <ul class="row right">
                    <li class="col s3">
                        <i data-position="bottom" data-tooltip="BUSCAR"
                            class="tooltipped fa-solid fa-magnifying-glass"></i>
                    </li>
                    <li class="col s3">
                        <i data-position="bottom" data-tooltip="IDIOMA" class="tooltipped fa-solid fa-globe"></i>
                    </li>
                    <li class="col s3">
                        <i data-position="bottom" data-tooltip="CUENTA" class="tooltipped fa-regular fa-user"></i>
                    </li>
                    <li class="col s3">
                        <i data-position="bottom" data-tooltip="CARRITO"
                            class="tooltipped fa-solid fa-bag-shopping"></i>
                    </li>
                </ul>
            </div>
        </div>
    </header>



    <h1>POLITICAS</h1>

    <div class="main-policies">
        <div class="policy-1  row">

            <div class="card col ">

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">POLITICA DE REEMBOLSO

                        <i class="fa-solid fa-plus right"></i>
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title
                        <i class="fa-solid fa-xmark right"></i>
                    </span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>
        <div class="policy-2">

        </div>
        <div class="policy-3">

        </div>
        <div class="policy-4">

        </div>

    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="../js/"></script>
<script>

</script>