<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3BLGR</title>
</head>

<body>
    <div id="headerCollections">

    </div>

    <section loading="lazy" class="s-collections">
        <div class=" row title-section">
            <div class="col s12 m12 v-align-center">
                <h1 id="collections-title">COLLECTIONS</h1>
            </div>
        </div>

        <div id="collections" class="row">

        </div>

    </section>

    <div id="footerCollections">

    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script type="module" src="./scriptCollections.js"></script>

<script type="module" src="../footer/footer.js"></script>
<script type="module" src="../header/header.js"></script>


</html>