<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>3BLGR</title>
</head>

<body>
    <div class="content row">
        <header class="header">
            <div class="offer-boletin center-align v-align-center">
                <span class="boletin">
                    ¡OBTÉN UN 15% OFF! ¡SUSCRÍBETE A NUESTRO BOLETÍN AHORA!
                </span>
            </div>

            <div class="row navbar nav-wrapper">
                <div class="brand-logo col s6 m6 l3">
                    <img class="responsive-img" src="/src/Acrobat_nwG13FqVJ9.png" height="63.5" width="105" alt="" />
                </div>

                <div class="nav hide-on-med-and-down center col m6 l6">
                    <ul id="nav-mobile" class="row ">
                        <li class="col s4 m4 l4">
                            <a href="../index.html">Inicio</a>
                        </li>
                        <li class="col s4 m4 l4">
                            <a href=""> Marcas</a>
                        </li>
                        <li class="col s4 m4 l4">
                            <a href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="actions col s6 m6 l3">
                    <ul class="row right">
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="BUSCAR"
                                class="tooltipped fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="IDIOMA" class="tooltipped fa-solid fa-globe"></i>
                        </li>
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="CUENTA" class="tooltipped fa-regular fa-user"></i>
                        </li>
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="CARRITO"
                                class="tooltipped fa-solid fa-bag-shopping"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <div class="filtros row">
                <div class="col s4 m4 l4">

                </div>
                <div class="col s4 m4 l4">

                </div>
                <div class="col s4 m4 l4">

                </div>
            </div>

            <div class="catalog">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                            </div>
                            <div class="card-content">
                                <div class="product-info">
                                    <span class="card-title title-prod">
                                        Sudadera Diesel</span>
                                    <span class="prod-description">43€</span>
                                    <span class="text-description">Descripcion del
                                        producto Lorem ipsum dolor sit amet
                                        consectetur adipisicing
                                        elit. Veritatis
                                    </span>
                                </div>
                                <div class="prod-variant">
                                    <span class="title-variant">Color</span>
                                    <div class="color-variant">
                                        <ul>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                            <li class="variant-rounded"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-sizes">
                                    <span class="title-variant">Tamaño</span>
                                    <div class="sizes">
                                        <ul>
                                            <li class="size-box">XS</li>
                                            <li class="size-box">S</li>
                                            <li class="size-box">M</li>
                                            <li class="size-box">L</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-cta">
                                    <div class="quantity-counter">
                                        <i class="fa-solid fa-minus"></i>
                                        <div class="contador">2</div>
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="add-to-car">
                                        <button class="btn">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer style="border: 1px solid red;">
            <div class="container center row">
                <div class="col s12 m12 l12">

                    <div class=" col s12 m12 l3 footer-info-1">

                        <div class="footer-div row col s12 m12 l12">

                            <span class="title-span-footer">Contacto</span>
                            <ul>
                                <li>Telefono 123 456 789 </li>
                                <li>contactocliente@3blgr.com </li>
                                <li> <a href="">Habla con soporte Chat Bot</a> </li>
                            </ul>

                        </div>

                        <div class=" footer-div row col s12 m12 l12">

                            <span class="title-span-footer">
                                Nuestras tiendas
                            </span>
                            <ul>
                                <li>Mateo Costa</li>
                                <li>Tress Balaguer</li>
                                <li>BigJeans Outlet</li>
                            </ul>

                        </div>

                    </div>

                    <div class="col s12 m6 l3 footer-info-2">
                        <div class="footer-div row">
                            <span class="title-span-footer">
                                Información de Interés
                            </span>
                            <ul>
                                <li> <a href="">Politica de proteccion de datos</a> </li>
                                <li> <a href="">Pago, entrega y devoluciones</a> </li>
                                <li> <a href="">Tabla de Tallas</a> </li>
                                <li> <a href="">Terminos y Condiciones</a> </li>
                                <li> <a href="">Cookies</a> </li>
                                <li> <a href="">Nuestra Cultura</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col s12 m6 l3 footer-info-3">
                        <div class="footer-div row">
                            <span class="title-span-footer">
                                Sobre Nosotros
                            </span>
                            <ul>
                                <li> <a href="">Sobre la empresa</a> </li>
                                <li> <a href="">El Grupo 3BLGR</a> </li>
                                <li> <a href="">Galería</a> </li>
                                <li> <a href="">Trabaja con nosotros</a> </li>
                                <li> <a href="">Ubicación</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col s12 m6 l3 footer-info-4">
                        <div class="footer-div row">
                            <span class="title-span-footer">
                                Redes sociales
                            </span>
                            <ul class="lista-iconos-footer">
                                <li> <a href=""> <i class="fa-brands fa-instagram"></i> </a> </li>
                                <li> <a href=""> <i class="fa-brands fa-facebook-f"></i> </a> </li>
                                <li> <a href=""> <i class="fa-brands fa-x-twitter"></i> </a> </li>
                                <li> <a href=""> <i class="fa-brands fa-pinterest"></i> </a> </li>
                                <li> <a href=""> <i class="fa-brands fa-tiktok"></i> </a> </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/catalog.js"></script>