<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>3BLGR</title>
</head>

<body>
    <div class="content row">
        <header class="header row z-depth-3">
            <div class="offer-boletin center-align v-align-center">
                <span class="boletin">
                    ¡OBTÉN UN 15% OFF! ¡SUSCRÍBETE A NUESTRO BOLETÍN AHORA!
                </span>
            </div>

            <div class="row navbar nav-wrapper">
                <div class="brand-logo col s6 m6 l3">
                    <img class="responsive-img" src="/src/3blgr-logo_1.svg" height="63.5" width="105" alt="" />
                </div>
                <div class="nav hide-on-med-and-down center col m6 l6">
                    <ul id="nav-mobile" class="row ">
                        <li class="col s4 m4 l4">
                            <a href="../index.html">Inicio</a>
                        </li>
                        <li class="col s4 m4 l4">
                            <a href=""> Marcas</a>
                        </li>
                        <li class="col s4 m4 l4">
                            <a href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="actions col s6 m6 l3">
                    <ul class="row right">
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="BUSCAR"
                                class="tooltipped fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="IDIOMA" class="tooltipped fa-solid fa-globe"></i>
                        </li>
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="CUENTA" class="tooltipped fa-regular fa-user"></i>
                        </li>
                        <li class="col s3">
                            <i data-position="bottom" data-tooltip="CARRITO"
                                class="tooltipped fa-solid fa-bag-shopping"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </header>


        <main>
            <div class="filtros row">

            </div>

            <div class="navside">

            </div>

            <div class="catalog">
                <div class="row">
                    <div class="col s12 m6 l3">
                      <div class="card">
                        <div class="card-image">
                          <img class="responsive-img" src="/src/catalog/00SWD5-0IAJHS-GIR-A1-100-100-1.JPG">
                          <span class="card-title">Card Title</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                        
            </div>
        </main>

    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/catalog.js"></script>