@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,500;0,600;0,800;0,900;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");


:root {
  /* used variables in the code */
  --lato: "Lato";
  --poppins: "Poppins";
  --roboto: "Roboto";

  --m-color: #000000; 
}

/*==========================STANDARD WEB===============================*/
/*reset css*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 100%;

  color: var(--m-color);
}
/*redefindindo a classe row sem espacamento inferior*/
.row {
  margin-bottom: 0px;
}
/*scroll suave*/
html {
  scroll-behavior: smooth;
}
/*espaçamento main lateral*/
main section {
  margin: 0 40px 0 40px; 
}
/*==========================STANDARD WEB===============================*/



/*==========================minhas classes===============================*/
.df {
  display: flex;
}

.df-row {
  display:flex ;
  flex-direction: row;
}

.df-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v-align-center {
  display: flex;
  justify-content: center;
}
/*==========================minhas classes===============================*/



/*==========================HEADER===============================*/
/*cor background + height => newsletter*/
header .offer-boletin {
  background-color: #524545;
  padding: 10px 0 10px 0;
}
/*fonte -> tamanho + peso + familia => newsletter*/
header .offer-boletin .boletin {
  font-size: 1rem;
  font-weight: 500;
  color: aliceblue;
}
/*espaçamento navbar laterais*/
header .navbar {
  margin: 3rem 40px 1.5rem 40px ;
}
/*alinhamento vertical logo + nav + açoes*/
header .navbar {
  display: flex;
  align-items: center;
}
/*fonte -> tamanho + peso+ familia => menu navegaçao*/
header .nav ul li a{
  font-size: 1.2rem;
  font-weight: var(--sm);
  font-family: var(--poppins);
  color: var(--m-color);
  cursor: pointer;
  transition: 2s;
}
/*fonte -> tamanho + peso+ familia => menu navegaçao hover*/
header .nav ul li a:hover {
  transition: 4s;
  border-bottom: 2px solid #524545;
}
/*icones açoes*/
header .actions ul i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color .5s;
}
/*icones açoes hover*/
header .actions ul i:hover {
  transition: color .5s;
  color: #3f8d0b;
}
/*==========================HEADER===============================*/



/*==========================main banner===============================*/
/*tamanho banner*/
main .banner {
  height: 81vh !important;
  margin: 0 0 4rem 0;
}
/*tamano carrossel*/
main .banner .carousel{
  height: 100% !important;
}
/*==========================main banner===============================*/


/*font titulo sections predef*/
main section .title-section h1{
  margin: 4rem 0 4rem 0;
  font-family: var(--poppins);
  font-size: 3rem;
  font-weight: 700;
}


/*==========================main collections===============================*/
/*fonte collections titulo card*/
main .s-collections .info-collection h3{
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 2.2rem;
  cursor: pointer;
}

/* link comprar colletions */
main .s-collections .info-collection a{
  background-color: #524545;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  transition: 1.2s ;
}
/* estilizacao background comprar s-collections */
main .s-collections .info-collection a:hover{
  transition: all 1.2s ;
  background-color: #3f8d0b;
}
/*espaçamento entre cards*/
main .s-collections .card-1 {
  margin: 2rem 0 2rem 0;
}
/*==========================main collections===============================*/



/*==========================main policies===============================*/
/*afastamento da seçao anterior*/
main .s-policies {
  padding: 8rem 0 0 0 ;
}
/* cor card */
main .s-policies .card {
  background-color: rgba(188, 225, 241, 0.4);
  color: #fff;
}
/* cirulo atras do icones */
main .s-policies .card-content .icone-formatter {
  background-color:  rgba(69, 187, 238, 0.4);
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  padding: 0 0 20px 0 ;
}
/*icones cards*/
main .s-policies .card-content i {
  font-size:1.6rem;
  padding: 15px 0 15px 0; 
  color: #1f1a1a; 
}
/* titulo card content */
main .s-policies .card-content .title{
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px 0 10px 0; 
  font-family: var(--poppins);
  color:  rgba(134, 177, 196, 1);
}
/* texto formatacao */
main .s-policies .card-content .info-txt {
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0 0 10px 0 ;
}
/* info final card  */
main .s-policies .card-content .price{
  margin: 15px 0 0 0;
  font-weight: 600;
  color:  rgba(134, 177, 196, 1);
  font-size: 1.1rem;
  font-family: var(--poppins);
}
main .s-policies .card-content .price a {
  font-weight: 600;
  color: rgba(134, 177, 196, 1);
}
/*==========================main policies===============================*/


/*
/* media queries 


/* smartphones and large devices and up 
@media screen and (min-width: 500px) {

}*/

/* tablet and similar devices  */
@media screen and (max-width: 620px) {
  /* icones mobile */
  header .actions ul {
    display: flex;
    justify-content: space-between;
  }
  
  header .actions ul i {
    padding: 0 5px 0 0 ;
  }

  main .banner-mobile img {
    width: 100% !important;
  }
}